!
hostname ceos-4
!
aaa authentication login default local
aaa authorization exec default local
!
username admin privilege 15 role network-admin secret admin
username ops privilege 5 role network-operator secret ops
!
ip access-list mgmt-acl
   10 permit tcp host 10.99.0.50 any eq ssh
   20 permit tcp host 10.99.0.50 any eq https
   30 deny ip any any log
!
ip access-list iACL
   10 permit icmp any any
   20 permit tcp any any established
   30 deny ip 10.99.0.0/24 any
   40 permit ip any any
!
interface Management1
   ip address 10.99.0.14/24
   ip access-group iACL in
!
management ssh
   access-list mgmt-acl
   idle-timeout 15
   !
   cipher aes128-ctr aes192-ctr aes256-ctr
   key-exchange ecdh-sha2-nistp256 ecdh-sha2-nistp384 ecdh-sha2-nistp521
!
management api http-commands
   protocol https
   no shutdown
   !
   access-list mgmt-acl
!
banner login
#################################################################
# Authorized Access Only. All activities are monitored.          #
#################################################################
!
ip routing
!
ip access-list COPP-CRITICAL
   10 permit tcp any any eq bgp
   20 permit tcp any eq bgp any
!
ip access-list COPP-IMPORTANT
   10 permit icmp any any
!
class-map type control-plane COPP-CRITICAL
   match ip access-group COPP-CRITICAL
!
class-map type control-plane COPP-IMPORTANT
   match ip access-group COPP-IMPORTANT
!
policy-map type control-plane COPP-SYSTEM
   class COPP-CRITICAL
      police rate 2000 pps
   class COPP-IMPORTANT
      police rate 1000 pps
   class class-default
      police rate 500 pps
!
control-plane
   service-policy input COPP-SYSTEM
!
logging host 10.99.0.50
!
end